// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-img-overlay{
  padding: 0;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
}

span {
   background-color: rgba( 204, 255, 204, 0.55 );
   color: black;
}