// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
text-align: center;
}

.address-form1{
    margin-left: 150px ;
}

.address-form2{
    margin-left: 290px ;
}

.address-form3{
    margin-left: 290px ;
}

.thanks{
    margin-top: 150px;
}