<div class ="container">
  <div class="row">
    <div class="bg-light">
      <h3>商品一覧</h3>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><% item.id %></td>
          <td><% item.name %></td>
          <td><% item.price %></td>
          <td><% genre.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>