<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>管理者ログイン</h4>
    </div>
  </div>
  <br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">メールアドレス</label>
    <%= f.text_field :email, :placeholder => "sample@example.com", autofocus:true, autocomplete: "email" %>
  </div>

  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">パスワード</label>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="form-group row">
    <%= f.submit 'ログイン', class:"btn btn-primary mx-auto" %>
  </div>
  <% end %>
</div>
