<div class="container">
  <div class="row">
    <div class="card mx-auto" style="max-width: 50%;">
  　<img class="card-img" src="assets/top2.jpg" alt="">
  　　<div class="card-img-overlay">
   　　 <span clss="text">ようこそ、ながのCAKEへ！<br>
    　　このサイトは、ケーキ販売のECサイトになります。<br>
    　　会員でない方も商品の閲覧はできますが、<br>
    　　購入には会員登録が必要になります。</span>
  　　</div>
　　</div>
  </div>

  <div class="row">
    <h4>新着商品</h4>
  </div>

  <% @items.each do |item| %>
  <div class="container pull-left table-responsive">
    <div class="d-flex">
      <div class="flex-fill">
    <table class="table table-borderless">
      <tr>
        <td> <%= attachment_image_tag item, :image, format: 'jpeg', size: "200x100" %></td>
      </tr>

      <tr>
        <td><%= item.name %></td>
      </tr>

      <tr>
        <td>¥<%= item.price %></td>
        </tr>
    </table>
  </div>
  <% end %>
  </div>
  </div>

  <div class="row">
       <div class="col"><%= link_to '全ての商品を見る>', items_path %></div>
  </div>
</div>
