<div class="container">
  <div class="row">
    <div class="card mx-auto" style="max-width: 50%;">
  　<img class="card-img" src="assets/top2.jpg" alt="">
  　　<div class="card-img-overlay">
   　　 <span clss="text">ようこそ、ながのCAKEへ！<br>
    　　このサイトは、ケーキ販売のECサイトになります。<br>
    　　会員でない方も商品の閲覧はできますが、<br>
    　　購入には会員登録が必要になります。</span>
  　　</div>
　　</div>
  </div>

  <div class="row">
    <h4>新着商品</h4>
  </div>
  <div class="row">
  </div>
</div>
