<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>注文履歴一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>購入日時</th>
        <th>購入客</th>
        <th>注文数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @homes.
    </tbody>
  </table>
</div>